<%- include('./partials/head') %>


<%- include('./components/mainpage-hero') %>

<section class="component-normal-section" id="about">
  <div class="section-container">
    <div class="section-with-image">
      <div class="content">
        <div class="content max-width-large">
          <h2>
            A known developer from the Roblox Tech & Ro-av community
          </h2>
          <p>
            Hey! I'm Driezie, I'm a student at the <b>University of Amsterdam</b> and 
            I have been developing websites for 8 years and interface design since begin 2019. 
            
            I love playing music with piano and guitar and I love to play games. 
            
            I have been playing Roblox for the last 10 years and I have been able to help many Roblox
            groups with their online presence.
          </p>
          <p>
            Previously, I have worked with tech groups such as 
            <b>Go-Karting Xtreme</b>, 
            <b>Parcel</b> and 
            <b>City Airways</b> and a lot more. 
            
            I have been able to help them with their UI designs. 
            With this experience, I have been able to help many Roblox groups with their online presence.
          </p>
          <p>
            If you are interested in working with me, please don't hesitate to contact me.
          </p>


          <%- include('./components/items/buttons', { buttons: 
            [
              {
                  link: "mailto:contact@driezie.studio",
                  style: {
                      type: "primary"
                  },
                  text: "Contact me",
                  icon: true,
              }
            ]
           }) %>
          
        </div>
      </div>
      <div class="image-wrap">
        <img src="https://tr.rbxcdn.com/30DAY-Avatar-4C5E640F3481998F99688DB8FB21C71A-Png/352/352/Avatar/Png/noFilter" loading="lazy" alt="" class="image">
      </div>
    </div>
  </div>
</section>


<section class="component-normal-section" id="designs">
  <div class="section-container">
    <div class="padding-vertical">
      <div class="content">
        <div class="content max-width-large">
          <h2>
            Explore Our Designs
          </h2>
        </div>
        <div class="demo-main-wrap">
          <div class="content-demo-wrap">
            <div class="side-content">
              <div class="homepage-tag">
                Web designs
              </div>
              <div class="text-size-tiny text-weight-light">
                Most of the designs and websites I made are for tech groups. 
              </div>
              

              <%- include('./components/items/buttons', { buttons: 
                [
                  {
                      link: "mailto:contact@driezie.studio",
                      style: {
                          type: "tertiary"
                      },
                      text: "Contact me",
                      icon: true,
                  }
                ]
               }) %>
            </div>
            
          </div>
          <div class="demo-content-wrap webdesigns">
              <div class="demo-image-wrap">
                <img src="/images/designs/small_project_2_full_page.png" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/drieziestudio.png" loading="lazy" alt="" class="demo-image">
              </div>
          </div>
        </div>

        <div class="demo-main-wrap">
          <div class="content-demo-wrap">
            <div class="side-content">
              <div class="homepage-tag">
                Interface designs
              </div>
              <div class="text-size-tiny text-weight-light">
                These designs are mostly made as commissions for Roblox groups.
              </div>
              <%- include('./components/items/buttons', { buttons: 
                [
                  {
                      link: "mailto:contact@driezie.studio",
                      style: {
                          type: "tertiary"
                      },
                      text: "Contact me",
                      icon: true,
                  }
                ]
               }) %>
              
            </div>
            
          </div>
          <div class="demo-content-wrap uidesigns">
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/adminpanel.png" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/gkx1.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/gkx2.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/ife1.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/ife2.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/idk.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/flying1.png" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/flying2.png" loading="lazy" alt="" class="demo-image">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="component-roadmap-section" id="roadmap">
  <div class="section-container">
    <div class="section-with-roadmap">
      <div class="content">
        <div class="content max-width-large">
          <h2>
            Roadmap
          </h2>
          <p>
            We're building the future of fast website development. Take a look at how the next few months are looking.
          </p>
        </div>
      </div>
      <div class="roadmap-wrapper">
        <div class="grid-5">
          <div class="grid-row current">
            <div class="row-name"><div class="text-style-allcaps text-color-grey text-weight-medium">BETA LAUNCH</div></div>
            <div class="row-content">
              <div class="row-content-bar">
                <div class="text-row">Initial launch, setup and design</div>
              </div>
            </div>
          </div>
          <div class="grid-row">
            <div class="row-name"><div class="text-style-allcaps text-color-grey text-weight-medium">COMPONENTS</div></div>
            <div class="row-content">
              <div class="row-content-bar _2">
                <div class="text-row">
                  Adding more components and design system
                </div>
              </div>
            </div>
          </div>

          <div class="grid-row">
            <div class="row-name"><div class="text-style-allcaps text-color-grey text-weight-medium">SUPPORT</div></div>
            <div class="row-content">
              <div class="row-content-bar _3">
                <div class="text-row">Recieving feedback and improving the website</div>
              </div>
            </div>
          </div>

          <div class="grid-row">
            <div class="row-name"><div class="text-style-allcaps text-color-grey text-weight-medium">ANIMATIONS</div></div>
            <div class="row-content">
              <div class="row-content-bar _4">
                <div class="text-row">Adding micro interactions and animation components</div>
              </div>
            </div>
          </div>

          <div class="grid-row">
            <div class="row-name"><div class="text-style-allcaps text-color-grey text-weight-medium">FULL LAUNCH</div></div>
            <div class="row-content">
              <div class="row-content-bar _5">
                <div class="text-row">
                  Domain management and hosting
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="component-normal-section" id="contactme">
  <div class="section-container">
    <div class="section-with-discord">
      <div class="content">
        <div class="content max-width-large">
          <h2>
            Contact me
          </h2>
        </div>
      </div>
      <div class="discord-box page">
        <h3 class="heading-style-h4">
          Add me on discord
        </h3>
        <p class="discord-text">You can add me on discord via <b>@driezie</b> and we can talk about your project. I am always open to new projects and I am exited to work with you.</p>
        </p>
        <%- include('./components/items/buttons', { buttons: 
                [
                  {
                      link: "mailto:contact@driezie.studio",
                      style: {
                          type: "tertiary"
                      },
                      text: "Contact me",
                      icon: true,
                  }
                ]
               }) %>
      </div>
    </div>
  </div>
</section>

<%- include('./partials/foot') %>
