<% if (buttons) { %>
    <div class="buttons">
        <% for (let i = 0; i < buttons.length; i++) { %>
            <a href="<%= buttons[i].link %>" class="button <%= buttons[i].style && buttons[i].style.type ? buttons[i].style.type : '' %>" <% if (buttons[i].style && buttons[i].style.link_type) { %> target="<%= buttons[i].style.link_type %>" <% } %>>
                <span><%= buttons[i].text %></span>
                <% if (buttons[i].style && buttons[i].style.custom) { %>
                    <i class="<%= buttons[i].style.custom %>"></i>
                <% } else { %>
                    <% if (buttons[i].icon) { %>
                        <i class="fa-solid fa-arrow-<%= buttons[i].style && buttons[i].style.arrow ? buttons[i].style.arrow : 'right' %>"></i>
                    <% } %>
                <% } %>
            </a>
            <% //console.log("Created: Button '" + buttons[i].text + "' has the following properties: " +  JSON.stringify(buttons[i])) %>
        <% } %>
    </div>
<% } %>
